body{
    background-color: beige;
    margin: 0px,
}
main{
    margin: 20px;

}

.navbar ul{
    list-style-type: none;
    background-color: grey;
    text-size-adjust: 40em;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display:block;
    text-align: center;
}
.navbar a:hover{
    background-color: rgb(163, 159, 159);
}
.navbar li{
    float: left;

}
.baker{
    text-align: center;
    padding: 10px;

}
header{
    font-size: 2em;
    border-bottom: 2px solid;
}
    .top{
        margin-left: 40px ;
    }

.note{
    background-color: lightgray;
    padding: 10px
    font-family= Arial !important;
    
}
.project{
    background-color: lightgray;
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid;
}
.about{
    background-color: lightgray;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    text-align: center;

}
#travel{
    border-bottom: 2px solid;
}
#h2{
    border-bottom: 2px solid;
}
#h3{
    border-bottom: 2px solid;
}

.form{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 200px;
    background-color: lightgrey;
    padding: 100px;
    margin-top: 30px;
    margin-left: 30px
}
